<div id="Clientlist" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    supervisor_account
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Holidays List
                </span>
            </div>

            <div class="search_class mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter [formControl]="searchValues" placeholder="Search">
                </div>
            </div>
            <div fxLayoutGap="10px">

                <button mat-raised-button class="add-client-button fuse-white mt-24 mt-md-0" (click)="addHoliday()">
                    <span>Add Holiday</span>
                </button>
            </div>
        </div>
        <div class="content-card">
            <div class="row table-display">
                <div class="col-12 pad-20">
                    <div class="spinner-wrapper" *ngIf="spinner">
                        <div class="spinner">
                            <div class="inner">
                                <div class="gap"></div>
                                <div class="left">
                                    <div class="half-circle"></div>
                                </div>
                                <div class="right">
                                    <div class="half-circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Table for client list -->
                    <div class="example-table mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort class=" w-100-p">
                            <ng-container matColumnDef="S.No">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="userTh">S.No</th>
                                <td mat-cell *matCellDef="let element; let index = i"> {{i + 1}} </td>
                            </ng-container>

                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="nameTh"> Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.date | date:'short':'IST'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="day">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="roleTh"> Day </th>
                                <td mat-cell *matCellDef="let element"> {{element.day}} </td>
                            </ng-container>
                            <ng-container matColumnDef="particulars">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="emailTh"> Particulars </th>
                                <td mat-cell *matCellDef="let element"> {{element.particulars}} </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef class="actionTh">ACTION</th>
                                <td mat-cell *matCellDef="let element">
                                    <button matTooltip="Client Edit" mat-raised-button color="warn" type="button"
                                        (click)="deleteHoliday(element)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                        <div class="noRecords">
                            <p class="norcrdCenter" [ngClass]="{'hideNodata': !(dataSource.data.length == 0) }">No
                                Records Found</p>
                        </div>
                        <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[10, 20]" showFirstLastButtons>
                        </mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>