.remember-forgot-password {
    font-size: 13px;
    margin-top: 8px;

    .remember-me {
        margin-bottom: 16px
    }

    .forgot-password {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 16px
    }
}

mat-form-field {
    width: 100%;
}

mat-checkbox {
    margin: 0;
}

.submit-button {
    width: 100%;
    margin: 16px auto;
    display: block;
}

.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
  }
  
  .lockscreen.middle-box {
    width: 200px;
    padding-top: 110px;
  }
  
  .loginscreen.middle-box {
    width: 300px;
  }
  
  .animated.modal.fade .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  
  .fullscreen-ibox-mode .animated {
    animation: none;
  }
  
  body.modal-open .animated {
    animation-fill-mode: initial;
    z-index: inherit
  }
  
  .fullscreen-video .animated {
    animation: none;
  }

  /* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white!important
  }
  /* Font color */
  input.mat-input-element {
    color: white!important;
  }

  .my-form-field.mat-form-field-appearance-legacy .mat-input-element {
    caret-color: red!important;
    color: white;
  }

  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
       color: white;
    }
    mat-form-field {
       .mat-hint, input, ::placeholder, .mat-form-field-label {
          color: white;
       }
    }
 }